<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>{{pageTitle}}</h1>
    <ul>
        {{#personnages}}
            <li>{{nom}} - {{description}}</li>
            <a href="../personnages/details/{{id}}">Détails</a>
            <img src="/img/{{photo}}" alt="description"/>
        {{/personnages}}
    </ul>
    
</body>
</html>